<html>
  <head>
    <title>Showscape</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <h1 class="heading">Showscape Monthly Entertainment Report</h1>
    <table>
      <tr>
        <th>Show</th>
        <th>Rating</th>
        <th>Number of tickets</th>
        <th>Price per ticket</th>
        <th>Total price</th>
      </tr>
      {% for booking in booking_list %}
      <tr>
        <td>{{ booking.show.name }}</td>
        <td>{{ booking.show.rating }}</td>
        <td>{{ booking.num_tickets }}</td>
        <td>{{ booking.show.ticket_price }}</td>
        <td>{{ booking.num_tickets * booking.show.ticket_price }}</td>
      </tr>
      {% endfor %}
    </table>
    <h1>Total spent on this month: ${{ total_price }}</h1>
    <div id="pie-chart">
      <img src="data:image/png;base64,{{ chart_image_data }}" alt="Pie Chart">
    </div>
  </body>
</html>
<style>
body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5% 10%;
}

.heading{
  width: 100%;
  text-align: center;
}

table{
  width: 100%;
}

th,td{
  padding: 2%;
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

@media (max-width: 768px) {
  img {
    width: 100%;
  }
}


</style>